force-app/main/default/flows/Highly_Impacted_Cleint.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Impacted_Data</name>
        <label>Get Impacted Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MarketImpactGrounder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>marketEventId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MarketImpactGrounder</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Action_1</name>
        <label>Send Email Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Loop_1.PersonEmail</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>PAN - {!Loop_1.PAN__c} - Market Value</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;{!optimizedSummary}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Summarize_Account_and_Holdings_Action_1</name>
        <label>Summarize_Account_and_Holdings Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Summarize_Account_and_Holdings</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Send_Email_Action_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Account</name>
            <value>
                <elementReference>Loop_1</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Summarize_Account_and_Holdings</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>promptResponse</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>optimizedSummary</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
  SUBSTITUTE(
    IF(
      CONTAINS({!promptResponse}, &quot;Recommendations&quot;),
      TRIM(LEFT({!promptResponse}, FIND(&quot;Recommendations&quot;, {!promptResponse}) - 1)),
      {!promptResponse}
    ),
    &quot;&lt;p&gt;&quot;, &quot;&quot;
  ),
  &quot;&lt;/p&gt;&quot;, &quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>Highly Impacted Cleint {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Highly Impacted Cleint</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetData</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Summarize_Account_and_Holdings_Action_1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create</name>
        <label>Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>optimizedSummary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>High Impacted Account -  {!Loop_1.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Loop_1.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Impacted_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Impact_Percentage__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </filters>
        <object>Market_Event__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GetData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>promptResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
