force-app/main/default/flows/Market_Event_New_Summarizer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Market_Event_Intelligence</name>
        <label>Market Event Intelligence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MarketEventIntelligenceAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Market_News_Summarizer</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>marketEventId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MarketEventIntelligenceAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Market_News_Summarizer</name>
        <label>Market News Summarizer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Market_News_Summarizer</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Update_Market_Event</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Market_Event</name>
            <value>
                <elementReference>Market_Event_Intelligence.promptPayload</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Market_News_Summarizer</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Market_Event</name>
        <label>Update Market Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MarketEventPromptUpdater</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Records_Market_Event</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>marketEventId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>promptResponse</name>
            <value>
                <elementReference>Market_News_Summarizer.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MarketEventPromptUpdater</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Market Event New Summarizer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Market Event New Summarizer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Records_Market_Event</name>
        <label>Update Records Market Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>High_Count__c</field>
            <value>
                <elementReference>Market_Event_Intelligence.highCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Low_Count__c</field>
            <value>
                <elementReference>Market_Event_Intelligence.lowCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medium_Count__c</field>
            <value>
                <elementReference>Market_Event_Intelligence.mediumCount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Market_Event_Intelligence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sentiment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negative</stringValue>
            </value>
        </filters>
        <object>Market_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
